/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */

h3 {
    text-shadow: 1px 0px 0px black, -1px 0px 0px black, 0px 1px 0px black, 0px -1px 0px black;

}
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .footer {
        width: 120%;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    /* margin-bottom: 60px; */
    color: black;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

p, td, tr{
    color: black;
    text-shadow: 2x;
    /* text-shadow: 1px 0px 0px black, -1px 0px 0px black, 0px 1px 0px black, 0px -1px 0px black; */

}
hr{
    border: solid black 1px;
}
#content{
    background: black;
  
}
main h2{
    color: aliceblue;
    text-shadow: 1.5px 0px 0px black, -1.5px 0px 0px black, 0px 1.5px 0px black, 0px -1.5px 0px black;
    text-decoration: none;
    /* width: 100%; */
    /* border: solid 1px white; */
    padding: 5px;
    margin: 5px;
    font-weight: bold;
}

a {
    color: white;
    text-decoration: none; /* no underline */
    text-shadow: 1px 0px 0px black, -1px 0px 0px black, 0px 1px 0px black, 0px -1px 0px black;
  }


  a:hover { color:red; }

  h3 { color: #ffffff; font-family: 'Lato', sans-serif; font-size: 54px; font-weight: 300; line-height: 58px; margin: 0 0 58px; }



main{
    /* border: solid 1px white; */
    flex-direction: row | row-reverse | column | column-reverse;
}
