@{
    ViewData["Title"] = "Home Page";
}
<link href="~/Content/css/home.css" rel="stylesheet" />
<style>
</style>

<div class="text-center jumbotron" id="homeJumbo">
    <h1 class="display-4" id="title">DC Viagens</h1>
    <div class="display-4">
        <img src="~/Content/lib/coleone-png.png" />

        <br />
    </div>
</div>

<div class="display-4 text-center">
    <audio controls="controls" autoplay loop id="music">
        <source src="https://ia601909.us.archive.org/19/items/TheGodfatherOriginalThemeSong/The%20Godfather%20Original%20Theme%20Song.mp3"
                type="audio/mp4" />
    </audio>
</div>
